@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, dt, dd, li, a, button, input, textarea, hr, table, tr, td, figure {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body, button, input, textarea, select {
    font-size: 16px;
}
input, textarea {
    border: none;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
ol, ul {
    text-decoration: none;
}
img {
    vertical-align: top;
}
body {
    background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
}
.wrap {
    overflow-y: auto;
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
}
.header {
    padding: 20px 0;
}
.header_msg {
    text-align: center;
    color: #fff;
}
.header_icons {
    margin-top: 10px;
    text-align: center;
}
.header_button {
    width: 30px;
    height: 30px;
    margin: 0 4px;
}
.header_button:hover .header_icon {
    color: #2ec4b6;
}
.header_icon {
    width:30px;
    height:30px;
    color: #fff;
}
.google_search {
    text-align: center;
    height: 40px;
}
.google_search::before {
    display: inline-block;
    width: 10px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    background-color: #2ec4b6;
    vertical-align: top;
    content: '';
}
.google_search_input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border: 0px;
    background-color: #fff;
    vertical-align: top;
}
.google_search_button {
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 0 5px 5px 0;
    background-color: #2ec4b6;
    vertical-align: top;
}
.google_search_icon {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px;
    color: #fff;
}
.section_title_box {
    margin-top: 20px;
    text-align: center;
}
.section_title_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
}
.section_title {
    display: inline-block;
    vertical-align: top;
    color: #fff;
}
.main_slide .refresh_button {
    width: 30px;
    height: 30px;
}
.main_slide .refresh_icon {
    width: 30px;
    height: 30px;
    color: #2ec4b6;
    transition: all 0.5s linear;
}
.main_slide .refresh_icon:hover {
    transform: rotate(180deg);
}
.main_slide .stock_list {
    margin-top: 10px;
    text-align: center;
}
.stock_ranking .list_item {
    display: inline-block;
    width: 160px;
    margin: 0 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    vertical-align: top;
}
.stock_ranking .item_link {
    color: #000;
}
.stock_ranking .item_rank {
    display: inline-block;
    vertical-align: top;
    color: #595959;
}
.stock_ranking .item_title {
    overflow: hidden;
    display: block;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
}
.stock_ranking .item_price_box::after {
    display: block;
    clear: both;
    content: '';
}
.stock_ranking .item_price {
    float: left;
    max-width: 80px;
    margin-left: 10px;
    color: #595959;
}
.stock_ranking .item_price.up {
    color: #ed0101;
}
.stock_ranking .item_price.down {
    color: #0c44ac;
}
.stock_ranking .item_change_rate {
    float: right;
    max-width: 80px;
    margin-right: 10px;
    color: #595959;
}
.stock_ranking .item_change_rate.up {
    color: #970005;
}
.stock_ranking .item_change_rate.down {
    color: #000052;
}
.stock_ranking .item_change_rate.em {
    font-weight: 600;
}