* {
    margin: 0;
    padding: 0;
}
.google-search {
    display: flex;
    flex-direction: row;

}

.google-search-button {

}

.stock :hover >p {
    background-color: yellowgreen;
}

.refresh-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid black;
}
.news {
    display: flex;
    flex-direction: row;
}

.news :hover {
    background-color: blue;
}