body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding-left: 15vh;
    padding-right: 15vh;
    overflow: hidden;
    background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
=======
    /* background-image: url("https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80"); */
>>>>>>> e5c52642e02a88247fb4ac8e631c1be352c78a17
    /* background-image: url("https://images.unsplash.com/photo-1463947628408-f8581a2f4aca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"); */
    
}

.contents {
    width: 70vmax;
    /* width: calc(100vw - 100px); */
    /* width: 70%; */
    /* height: calc(100vh - 100px); */
    /* background-color: rgba(255,255,255,0.2); */
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 5vmax;
   
}

header {
    height: 10vh;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-icons {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.header-button {
    background-color: rgba(0,0,0,0);
    border-width: 0px;
}
.header-button:hover > .header-icon {
    color: #2ec4b6;
}

.header-icon {
    width:30px;
    height:30px;
    color: white;
}
.main {  
    /* height: 90vh; */
    height: 90%;
}

footer {
    background-color: darkorchid;
    height: 10vh;
}